
@font-face{
  font-family: headFont;
  src: url(supermario.ttf);

}


*{
  font-family: 'sans-serif';
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size:62.4%;
}
body,html{

 
  max-height: 100%;
  overflow-x: hidden;
  width: 100%;
  background: linear-gradient(#43cea2,#185a9d);

}


.center-content{
    
  display: flex;
  flex-direction: column;
   margin: 20px auto;

  text-align: center;
   
 
}

.card{
  font-weight: 400;
  border-radius: 10px ;
  background-color: lightseagreen ;
  transition: all 1s ease-in-out;
  margin: 10px ;

  font-size: 5rem;
}


.card:hover{
   transform: scale(1.1);

}

.flex-box{
  display: flex;
   flex-wrap: wrap;
   flex-shrink: 0;
   transition: all 1s ease-in-out;
   flex-grow: 1;
   justify-content: center;
   padding: 0px 10px;
}


.center-content h1{
  margin: 20px 0px;
  font-family: 'headFont' ;
  letter-spacing: 2px;
  font-size: 3rem;
  color: white;
}

.searchBox{
  padding:5px;
  
  width: 100%;
  
}
.searchBox input{
  font-size: 3rem;
  font-size: 2rem;
  padding: 5px 10px;
  border: none;
}

.scroll{
  border:2px soild black;
  overflow-y: scroll;
  height: 800px;


}


@media only  screen and (min-width: 1100px){

  .scroll{
   
    height: 500px;
  
  
  }



}

